<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.status %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Drop', drop_blog_path(blog), data: { confirm: 'ゴミ箱入れますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'ゴミ箱', dropbox_blogs_path %>
<%= link_to '下書き', draft_blogs_path %>
<%= link_to '公開したブログ', blogs_path %>
<%= link_to 'ブログを作る', new_blog_path %>
