<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>

<%= link_to 'ブログを編集する', edit_blog_path(@blog) %> |
<%= link_to 'ゴミ箱', dropbox_blogs_path %>
<%= link_to '下書き', draft_blogs_path %>
<%= link_to '公開したブログ', blogs_path %>
<%= link_to 'ブログを作る', new_blog_path %>
